/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: variables.$white;
	font-family: sans-serif;

	.verified-user-one{
		padding: 4rem 2rem;

		.amazing{

			.quotes{
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$grey-blue;
				font-size: 2.4rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				color: variables.$grey-blue;
				opacity: 0.7;
				line-height: 2rem;
				font-size: 1.4rem;
			}

			.user{
				color: variables.$grey-blue;
				text-align: right;
			}

			.v-user{
				opacity: 0.7;
			}
		}
	}

	.verified-user-two{
		background-color: variables.$dark-blue;
		padding: 2rem 2rem 4rem 2rem;
		color: variables.$white;

		.wonderful{

			.v-user{
				color: variables.$grey-blue;
			}

			.quotes{
				margin-top: 1rem;
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$white;
				font-size: 2rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				opacity: 0.5;
				line-height: 1.5rem;
				font-size: 1.2rem;
			}
		}
	}

	.verified-user-three{
		padding: 4rem 2rem;

		.purchase{
			text-align: left;

			.quotes{
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$grey-blue;
				font-size: 2.4rem;
				line-height: 2.8rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				color: variables.$grey-blue;
				opacity: 0.7;
				line-height: 2rem;
				font-size: 1.45rem;
			}

			.user{
				color: variables.$grey-blue;
				text-align: right;
			}

			.v-user{
				opacity: 0.7;
			}
		}
	}

	.verified-user-four{
		background-color: variables.$hot-pink;
		padding: 4rem 2rem;
	}
}

