/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: variables.$white;
	font-family: sans-serif;

	@include mixins.bp-large{
		background: variables.$lavender;
	}

	.wrapper{
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@include mixins.bp-large{
			// padding: 10.25rem;
			grid-gap: 1.5rem;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 1fr 1fr;
			// grid-gap: 1.25rem;
			grid-template-areas: 
			"quotes quotes quotes content content content content content content lucila lucila lucila"
			"user user user user user user verified verified verified lucila lucila lucila"
			// "quotes content content"
			// "user user verified";
			
		}
	}

	.verified-user{
		grid-column: 1 / -1;
	}

	.verified-user-one{
		padding: 4rem 2rem;

		@include mixins.bp-large{
			grid-area: quotes;
		}

		.amazing{

			.quotes{
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$grey-blue;
				font-size: 2.4rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				color: variables.$grey-blue;
				opacity: 0.7;
				line-height: 2rem;
				font-size: 1.4rem;
			}

			.user{
				color: variables.$grey-blue;
				text-align: right;
			}

			.v-user{
				opacity: 0.7;
			}
		}
	}

	.verified-user-two{
		background-color: variables.$dark-blue;
		padding: 2rem 2rem 4rem 2rem;
		color: variables.$white;

		@include mixins.bp-large{
			grid-area: content;
			border-radius: 5%;
		}

		.wonderful{
			@include mixins.bp-large{
				padding: 2rem;
			}

			.v-user{
				color: variables.$grey-blue;
			}

			.quotes{
				margin-top: 1rem;
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$white;
				font-size: 2rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				opacity: 0.5;
				line-height: 1.5rem;
				font-size: 1.2rem;
			}
		}
	}

	.verified-user-three{
		padding: 4rem 2rem;

		@include mixins.bp-large{
			grid-area: verified;
		}

		.purchase{

			.quotes{
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$grey-blue;
				font-size: 2.4rem;
				line-height: 2.8rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				color: variables.$grey-blue;
				opacity: 0.7;
				line-height: 2rem;
				font-size: 1.45rem;
			}

			.user{
				color: variables.$grey-blue;
				text-align: right;
			}

			.v-user{
				opacity: 0.7;
			}
		}
	}

	.verified-user-four{
		background-color: variables.$hot-pink;
		padding: 4rem 2rem;
		color: variables.$white;

		@include mixins.bp-large{
			grid-area: user;
			border-radius: 5%;
		}

		.net{

			.v-user{
				color: variables.$white;
				opacity: 0.5;
			}

			.quotes{
				margin-top: 1rem;
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$white;
				font-size: 1.8rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				opacity: 0.5;
				line-height: 1.5rem;
				font-size: 1.2rem;
			}
		}
	}

	.verified-user-five{
		padding: 4rem 2rem;

		@include mixins.bp-large{
			grid-area: lucila;
			background: variables.$white;
			border-radius: 5%;
		}

		.business{

			.quotes{
				margin-bottom: 1.5rem;
				font-family: 'Abril Fatface', cursive;
				color: variables.$grey-blue;
				font-size: 2.4rem;
				line-height: 2.8rem;
			}

			.sub-quotes{
				margin-bottom: 1rem;
				color: variables.$grey-blue;
				opacity: 0.7;
				line-height: 2rem;
				font-size: 1.45rem;
			}

			.paragraph{
				margin-top: 1.25rem;
			}

			.user{
				color: variables.$grey-blue;
				text-align: left;
			}

			.v-user{
				opacity: 0.7;
			}
		}
	}
}

